#cloud-config
users:
  - name: {{ username }}
    ssh-authorized-keys:
      - {{ ssh_pub_key }}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']

runcmd:
  - sudo apt-get update -qq
  - sudo apt-get install -y curl jq gunzip
  - |
    sudo curl -fL https://releases.hashicorp.com/vault/{{ vault_version }}/vault_{{ vault_version }}_linux_amd64.zip \
    | gunzip -> /usr/local/bin/vault
  - sudo chmod a+x  /usr/local/bin/vault
  - vault -version
write_files:
  - path: /etc/vault.d/vault.hcl
    content: |
      storage "raft" {
      path = "/vault/raft"
      node_id = ""
      #retry_join {
      #  leader_api_addr         = "https://sense.station:8200"
      #  leader_ca_cert_file     = "/opt/vault/tls/vault-ca.pem"
      #  leader_client_cert_file = "/opt/vault/tls/vault-cert.pem"
      #  leader_client_key_file  = "/opt/vault/tls/vault-key.pem"
      #}
      
  
      disable_mlock = true
      #listener "tcp" {

      #address="0.0.0.0:8200"
      # tls_disable=1
      #}
      #
      #
      {{/* 
        service_registration "consul" {  address      = "127.0.0.1:8500"} 
      */}}
      cluster_name = "hah"
      listener "tcp" {
        address = "127.0.0.1:8200"
        tls_disable = true
      }

      listener "tcp" {
        cluster_address = ":8201"
        address = ":8200"
        #tls_cert_file      = "/opt/vault/tls/vault-cert.pem"
        #tls_key_file       = "/opt/vault/tls/vault-key.pem"
        #tls_client_ca_file = "/opt/vault/tls/vault-ca.pem"
        tls_disable = true
      }


      api_addr = "http://192.168.1.16:8200"
      cluster_addr = "http://192.168.1.16:8201"
      ui = true

      telemetry {
        disable_hostname = false
        prometheus_retention_time = "24h"
      }

